@import '../../global.scss';

.contact{
    height: 100%;
    padding: 50px;
    background-color: white;
    @include flexMixin(center,center);
    label{
        height: 100%;
        width: 100%;
    }

}
.contact__box{
    h2{
        font-size: 80px;
        font-weight: normal;
        margin-bottom: 30px;
    }
    input{
        padding-left: 15px;
        text-align: left;
        font-size: 20px;
        color: #707070;
    }
    input::placeholder{
        font-size: 20px;
        text-align: left;
    }
 
}

$inputHight:50px;


.contact__email{
    height: $inputHight;
    width: 100%;
}
.contact__firstname{
    margin-top: 20px;
    height: $inputHight;
    width: 100%;
}

.contact__inputtittle{
    height: $inputHight;
    width: 100%;
    margin-top: 20px;
}
.contact__textarea{
    margin-top: 20px;
    height: 280px;
    width: 100%;
    text-align: start;
    padding: 15px;
    font-size: 20px;
    color: #707070;
}
.contact__btn{
    margin-top: 20px;
    height: $inputHight;
    width: 170px;
    background-color: $mainColor;
    border: none;
    p{
        color: white;
        font-size: 24px;
    }
}
@media(max-width:600px){
    .contact{
        height: 100%;
        padding: 50px 25px;
    }
    .contact__box{
        h2{
            font-size: 45px;
        }
    }
    .contact__btn{
        width: 100%;
    }
}